.cf_label{
  display: block;
  padding: 1em 0px;
  text-align: right;
}

.cf_span{
  position: absolute;
  left: 0px;
  margin-top: 1.5em;
}

.cf-form{
  margin-top: 4em;
}

@media (max-width: 768px) {
  .cf_span{
    position: relative;
    padding: 1em 0px;
  }

  .cf_label{
    text-align: left;
  }
}