.cf-h1{
  font-family: 'Droid Serif', serif;
  font-size: 100px;
  line-height: 1em;
  color: #f5b553;
}

.cf-header{
  background-color: #363333;
  padding: 4em;
}

@media (max-width: 768px) {
  .cf-h1{
    font-size: 48px;
  }
}